*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#080812;
    color:white;
}


header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    background:#0d0d1c;
    border-bottom:1px solid #29294d;
}


.logo{
    font-size:28px;
    font-weight:bold;
    color:#ffcc00;
}


nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}


.hero{
    text-align:center;
    padding:100px 20px;
}


.hero h1{
    font-size:55px;
    color:#ffcc00;
}


.hero h2{
    font-size:25px;
    margin:20px;
}


.hero p{
    color:#aaa;
}


.buttons{
    margin-top:40px;
}


.btn{
    display:inline-block;
    padding:15px 35px;
    margin:10px;
    background:#ffcc00;
    color:#111;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}


.second{
    background:#6d4aff;
    color:white;
}



section{
    padding:60px 10%;
    text-align:center;
}



.card{
    background:#121225;
    padding:30px;
    margin:30px auto;
    max-width:600px;
    border-radius:20px;
    border:1px solid #29294d;
}


.card p{
    margin:15px;
    font-size:18px;
}



footer{
    text-align:center;
    padding:30px;
    background:#0d0d1c;
    color:#888;
}
.section{
    padding:80px 20px;
}

.container{
    max-width:1200px;
    margin:auto;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top:40px;
}

.card{
    flex:1;
    min-width:250px;
    background:#1b1b1b;
    border:1px solid #333;
    border-radius:15px;
    padding:25px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
    border-color:#f8c300;
}

.card h3{
    color:#f8c300;
}
.footer{
    text-align:center;
    padding:40px 20px;
    background:#0d0d1c;
    border-top:1px solid #29294d;
}

.footer h3{
    color:#ffc800;
    margin-bottom:15px;
}

.footer p{
    color:#cccccc;
    margin:10px 0;
}
.btn{
    display:inline-block;
    padding:15px 30px;
    background:#ffc800;
    color:#000;
    font-weight:bold;
    text-decoration:none;
    border-radius:10px;
    transition:.3s;
}

.btn:hover{
    transform:scale(1.05);
}
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#111;
    padding:15px 0;
    z-index:1000;
    text-align:center;
}

.navbar a{
    color:#fff;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

.navbar a:hover{
    color:#ffc800;
}

body{
    padding-top:70px;
}
input{
    width:100%;
    max-width:700px;
    padding:15px;
    border-radius:10px;
    border:1px solid #555;
    background:#111;
    color:#fff;
    font-size:16px;
}
